@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.almendra-display-regular {
    font-family: "Almendra Display", serif;
    font-weight: 400;
    font-style: normal;
}

.source-serif-4-font {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}


#wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex: 1 1 0;
}

#left {
    width: 60vw;
    background: url('adrian-pelletier-HWXSmUoP66E-unsplash.jpg');
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    top: 20%;
    height: 15%;
    width: 60vw;
    background-color: hsl(0, 0%, 10%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: white;
    font-size: 70px;
    font-family: "Almendra Display", serif;
}

#logo img {
    height: 100px;
    width: 100px;
    filter: brightness(0) invert(1);
}

#banner-text {
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
}

#right {
    display: flex;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    font-family: "Source Serif 4", serif;
}

#info {
    text-align: center;
    font-size: 1.4rem;
    padding: 30px;
}

#form {
    padding: 30px;
    background-color: white;
}

#form:hover {
    background-color: #2b2e41;
    transition: background-color 0.5s ease;
    color: white;
}


#input-fields {
    display: flex;
    gap: 35px;
    justify-content: center;
}

#column1, #column2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    padding-right: 10%;
}

input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#password:invalid, #confirm-password:invalid {
    border-color: red;
}

#button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
}

#button:hover {
    background-color: #adb2c8;
    color: white;
}

a {
    text-decoration: none;
    padding: 4px;
}

a:hover {
    background-color: #adb2c8;
}